@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  font-family: "Montserrat", sans-serif !important;
  background-color: black;
  color: white;
}

/* -----------------------FONT------------------------ */

@font-face {
  font-family: "EurekaEndeavour";
  src: url("../public/fonts/EurekaEndeavour.otf");
}

.EurekaEndeavour {
  font-family: "EurekaEndeavour" !important;
}
/* --------------------------------------------------- */

.image-reason {
  @apply hover:rounded-3xl hover:pb-5 transition-all;
}
